:host {
	height: 2.5rem;
	text-transform: uppercase;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.5;

	&.btn-primary {
		background-color: var(--primary-color);
		color: #ffffff;
		border: none;
		outline: none;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	}

	&.btn-secondary {
		background-color: var(--secondary-color);
		color: #ffffff;
		border: none;
		outline: none;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	}

	&.btn-success {
		background-color: var(--success-color);
		color: #ffffff;
		border: none;
		outline: none;
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	}

	&.btn-text {
		background: none;
		border: none;
		outline: none;
		color: var(--text-hint-color);
	}
}
