<app-card class="main-content" data-test="main-content">
	<ng-container header>
		<h2 class="hint">Relatórios > Lista de usuários</h2>
		<button custom-button severity="primary">Imprimir</button>
	</ng-container>
	<ng-container body>
		<table data-test="main-table">
			<thead>
				<tr>
					<th start>Nome</th>
					<th start>E-mail</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@for (person of peopleList$(); track $index) {
					<tr>
						<td start>{{ person.name }}</td>
						<td start>{{ person.email }}</td>
						<td [class.hint]="!person.active">{{ person.active ? 'Ativo' : 'Inativo' }}</td>
					</tr>
				}
			</tbody>
		</table>
	</ng-container>
</app-card>
