:host {
	height: -webkit-fill-available;
	display: flex;
	justify-content: center;
	align-items: center;
}

app-card.card {
	width: 550px;
	padding: 4rem;
	border: 1px solid var(--text-color);
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: var(--logo-color);
	padding: 0.5rem;
	margin: 0 auto 2rem;

	.main-text-logo {
		font-size: 3rem;
		font-weight: 900;
	}
	.secondary-text-logo {
		font-size: 1rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

button {
	width: 100%;
}
