:host {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card-row {
	display: flex;
	gap: 1rem;

	app-card {
		flex: 1 1 0;
		min-width: 0;
		overflow: hidden;

		.card-score {
			font-size: 3.5rem;
			line-height: 2.5;
			text-align: center;
			&--primary {
				color: var(--primary-color);
			}
			&--success {
				color: var(--success-color);
			}
			&--danger {
				color: var(--danger-color);
			}
		}

		.card-hint {
			display: block;
			width: 100%;
			text-align: end;
			text-wrap: nowrap;
			color: var(--text-hint-color);
		}
	}
}
