:root {
	--background-color: #f5f5f5;
	--foreground-color: #ffffff;
	--header-color: #ededed;
	--logo-color: #d9d9d9;
	--logo-secondary-color: #eff4fc;
	--lines-color: #eeebeb;
	--lines-color-dark: #c1c0c0;

	--primary-color: #5763a0;
	--secondary-color: #000000;
	--success-color: #61a057;
	--danger-color: #c15959;

	--text-color: #414141;
	--text-color-dark: #000000;
	--text-hint-color: #808080;
}

html,
body {
	padding: 0;
	margin: 0;
	height: -webkit-fill-available;
	background-color: var(--background-color);
}

* {
	box-sizing: border-box;
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

.hint {
	color: var(--text-hint-color);
}

hr {
	background-color: var(--lines-color);
	outline: none;
	border: none;
	margin: 0;
	width: 100%;
	height: 1px;

	&[dark] {
		background-color: var(--lines-color-dark);
	}

	&[large] {
		height: 2px;
	}

	&[vertical] {
		width: 1px;
		height: 100%;
		&[large] {
			width: 2px;
		}
	}
}

input {
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--text-color);
	a &::placeholder {
		color: var(--text-hint-color);
	}
}

h2 {
	font-size: 1.15rem;
	&.hint {
		color: var(--text-hint-color);
	}
}

textarea {
	min-height: 5rem;
	resize: vertical;
	padding: 0.5rem 1rem;
}

table {
	border-collapse: collapse;
	thead {
		tr {
			line-height: 2;
			border-bottom: 1px solid var(--logo-color);

			th {
				text-transform: uppercase;
				color: var(--text-hint-color);
				font-size: 0.875rem;
				font-weight: normal;
				text-align: center;
				&[start] {
					text-align: start;
				}
				&[end] {
					text-align: end;
				}
			}
		}
	}
	tbody {
		tr {
			line-height: 2;
			border-bottom: 1px solid var(--logo-color);

			td {
				font-weight: 400;
				font-size: 1rem;
				text-align: center;
				&[start] {
					text-align: start;
				}
				&[end] {
					text-align: end;
				}
				&.hint {
					color: var(--text-hint-color);
				}
			}
		}
	}
}
